<section class="ftco-counter img bg-light" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-suitcase"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="{{ project_count }}">{{ project_count }}</strong>
                        <span>Project Complete</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-loyalty"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="{{ user_count }}">{{ user_count }}</strong>
                        <span>Registered Users</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-listening"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="{{ contact_count }}">{{ contact_count }}</strong>
                        <span>Messages/Contacts</span>
                    </div>
                </div>
            </div>

           <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-calendar"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="{{ visits_count }}">0</strong>
                        <span>Total Visits</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>